<div class="row margin-b-2">
  <% @photos.each do |photo| %>
  <div class="col-sm-6">
    <a href="<%= photo.upload.url%>"><%= image_tag photo.upload.url, class: "img-responsive thumbnail" %>
    <div class="caption">
      <h4><a href="<%=photo.upload.url %>"><%= photo.year %></a></h4>
    </div>
  </div>  
  <%end%>
</div>
  <!-- <div class="row margin-b-2">
    <div class="col-sm-6">
      <a href="#"><img class="img-responsive thumbnail" src="img/media-aetas(9)700x350.jpg" alt=""></a>
      <div class="caption">
        <h4><a href="2012.php">2012</a></h4>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="col-sm-6">
      <img class="img-responsive thumbnail" src="http://placehold.it/700x350" alt="">
      <div class="caption">
        <h4><a href="#">2013</a></h4>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div> -->