  <% @uploads.each_slice(6) do |uploads| %>
  <div class="row">
    <% uploads.each do |upload| %>
  <div class='col-md-3'>
      <h2 class="u-header"><%= upload.title %></h2>
      <div class="img-med">
        <%= image_tag upload.upload.normal.url %>
        <%= link_to "Edit", edit_admin_upload_path(upload)%>
        <%= link_to "Archive", archive_admin_upload_path(upload), remote: true%>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>