@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

.r-margin {
  margin-bottom: 20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

.u-header {
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Images */


.img-thumb {
  height: 90px;
  width: 90px;
}

.img-med {
  height:142px;
  width:196px;
}

.img-gallery {
  height:539;
  width:720px;
}

.img-thumb img,
.img-med img,
.img-gallery img {
  height: 100%;
  width: 100%;
}

/* Modal */


.ui-widget-header {

}


.ui-dialog-titlebar-close {
  visibility: hidden;
}