<% if @uploads_by_year.blank? %>
  <p>Upload some photo's sexy!</p>
<% else %>
  <% @uploads_by_year.sort.each do |year, uploads| %>
  <br>
  <%= year %>
  <% for upload in uploads %>
  <br>
    <%= upload.title %>
    <br>
    <%= image_tag upload.upload.url %>
    <% end %>
  <% end %>
<% end %>